.sidebar {
	color: white;
	display: none;
	font-family: 'Cascadia Code';
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	height: 100%;
	box-shadow: rgba(36, 37, 38, 0.08) 0px 6px 15px;
	background-image: linear-gradient(45deg, #667eea 0%, #764ba2 100%);
}

.sidebar-title {
	font-size: 1.9rem;
	padding: 2.5rem 1.5rem;
	padding-bottom: 1.8rem;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

.sidebar-menu-container {
	display: grid;
	margin: 1rem 0.5rem;
	grid-gap: 1rem;
	grid-template-columns: repeat(2, 1fr);
	padding: 1rem;
}

.sidebar-menu {
	border: 0.15rem white solid;
	box-shadow: rgba(36, 37, 38, 0.12) 0px 6px 15px;
	border-radius: 1rem;
	font-family: 'IBM Plex Sans KR';
	font-weight: 500;
	font-size: 1.1rem;
	padding: 0.4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sidebar-menu:hover {
	color: #764ba2;
	background: linear-gradient(#fff, #fff) padding-box,
		linear-gradient(120deg, #667eea 0%, #764ba2 100%) border-box;
	border-color: transparent;
	box-shadow: 5px 12px 20px rgb(36 37 38 / 20%);
	backdrop-filter: blur(50px);
	transform: scale(1.05);
}

.sidebar-menu > i {
	font-size: 1.8rem;
}

.sidebar-menu-text {
	font-size: 0.8rem;
}

.sidebar-footer {
	padding: 1.5rem;
	font-size: 0.8rem;
	line-height: 1.2rem;
}

.sidebar-footer-icons-container {
	padding: 2rem 0;
	display: flex;
}

.sidebar-footer-icons-container > a > i {
	padding: 0 0.65rem;
}

.sidebar-footer-icons-container > a {
	color: white;
}

.sidebar-footer-icons-container > a:nth-child(1) > i {
	padding-left: 0;
}

.sidebar-menu > div {
	margin-left: 0.3rem;
}

@media screen and (min-width: 1024px) {
	.header {
		display: none;
	}

	.sidebar {
		display: flex;
		width: 15rem;
	}

	.MainBody {
		padding-top: 1rem !important;
		margin-left: 15rem;
	}
}

@media screen and (min-width: 1600px) {
	.sidebar {
		width: 18rem;
	}

	.MainBody {
		margin-left: 18rem;
	}

	.sidebar-title {
		padding-right: 2rem;
		padding-left: 2rem;
	}

	.sidebar-menu-container {
		padding: 1rem 1.5rem;
	}
}
